<!-- classes.hbs -->
<h1>Los Santos School District</h1>
<h2>Classes</h2>

<a href="/">Home</a> <a href="/schools.hbs">Schools</a> <a href="/teachers.hbs">Teachers</a> <a href="/students.hbs">Students</a> <a href="/classes.hbs">Classes</a> <a href="/students_classes.hbs">Students_Classes</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Search Using an HTML Form</h2>
<p>Search by class name using the field below. Partial class names are OK too!</p>
<form id="search-class-html" method='GET' action='/classes.hbs'>
    <label for="input-class_name">Search by Class Name: </label>
    <input type="text" name="class_name" id="input-class_name-html-search">
    
    <input type="submit">
    <a href='/classes.hbs'><button>Reset</button></a>
</form>

<br><br><br>

{{!-- Create a table --}}
<table id="classes-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the class_id, teacher_id, class_name, class_section, and max_students, in order --}}
        {{#each data}}
        <tr data-value={{this.class_id}}>
            <td>{{this.class_id}}</td>
            <td>{{this.teacher_id}}</td>
            <td>{{this.class_name}}</td>
            <td>{{this.class_section}}</td>
            <td>{{this.max_students}}</td>
            <td><button onclick="deleteClass({{this.class_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_class.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new class, please enter the information below and click 'Submit'!</p>
<form id="add-class-form-ajax">
    <select name="input-teacher_id" id="input-teacher_id-ajax">
        <option value="">Select a Teacher</option>
        {{#each teachers}}
        <option value="{{this.teacher_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-class_name">Class Name: </label>
    <input type="text" name="input-class_name" id="input-class_name">

    <label for="input-class_section">Section Number: </label>
    <input type="number" name="input-class_section" id="input-class_section">

    <label for="input-max_students">Max Students: </label>
    <input type="number" name="input-max_students" id="input-max_students">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_class.js"></script>