<!-- schools.hbs -->
{{!
    Citation for the following page:
    Date: 12/5/22
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
}}
<header>
    <img src="School.jpg" class="img">
    <h1>Los Santos <br> School District</h1>
    <link href='style.css' rel='stylesheet'/>
</header>



<ul>
    <li><a href="/">Home</a> </li>
    <li><a class='active' href="/schools.hbs">Schools</a> </li>
    <li><a href="/teachers.hbs">Teachers</a> </li>
    <li><a href="/students.hbs">Students</a></li>
    <li><a href="/classes.hbs">Classes</a></li>
    <li><a href="/students_classes.hbs">Students_Classes</a></li>
</ul>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="underHeader">
    <h2>Welcome to the Schools page.</h2>
    <h4>Find all the schools available in the Los Santos School Disctrict below!</h4>
</div>

<br><br><br><br>

<body>
    <form id="search-school-html" method='GET' action='/schools.hbs' class="form-inline">
        <label for="input-school_name">Search by School Name: </label>
        <input placeholder='search'type="text" name="school_name" id="input-school_name-html-search">
        
        <button type="submit">Submit</button>
        <a href='/schools.hbs'><button>Reset</button></a>
    </form>

    <br>

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/add_school.js"></script>

    {{!-- Create a table --}}
    <table id="schools-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the school_id and school_name, in order --}}
            {{#each data}}
            <tr data-value={{this.school_id}}>
                <td>{{this.school_id}}</td>
                <td>{{this.school_name}}</td>
                <td><button onclick="deleteSchool({{this.school_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_school.js"></script>

    <br><br><br>

    {{!-- Form to add a record to the table  --}}
    <form align='left' id="add-school-form-ajax" class="form-inline">
        <fieldset>
            <legend aling="left"><strong>Add New School:</strong></legend>
            <label for="input-school_name">School Name: </label>
            <input type="text" name="input-school_name" id="input-school_name">

            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
<br>