<!-- students.hbs -->
{{!
    Citation for the following page:
    Date: 12/5/22
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
}}
<header>
    <img src="School.jpg" class="img">
    <h1>Los Santos <br> School District</h1>
    <link href='style.css' rel='stylesheet'/>
</header>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/schools.hbs">Schools</a> </li>
    <li><a href="/teachers.hbs">Teachers</a> </li>
    <li><a class='active' href="/students.hbs">Students</a></li>
    <li><a href="/classes.hbs">Classes</a></li>
    <li><a href="/students_classes.hbs">Students_Classes</a></li>
</ul>

<div class="underHeader">
    <h2>Welcome to the Students Information page.</h2>
    <h4>Find all the Students information that are part of the Los Santos School Disctrict below!</h4>
</div>

<br><br><br><br>

<body>
    <form id="search-student-html" method='GET' action='/students.hbs' class="form-inline">
        <label for="input-last_name">Search by Student Last Name: </label>
        <input type="text" name="last_name" id="input-last_name-html-search">
        
        <button type="submit">Submit</button>
        <a href='/students.hbs'><button>Reset</button></a>
    </form>

    <br>   

    {{!-- Create a table --}}
    <table id="students-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, school_id, first_name, last_name, DoB, and email, in order --}}
            {{#each data}}
            <tr data-value={{this.student_id}}>
                <td>{{this.student_id}}</td>
                <td>{{this.school_id}}</td>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.date_of_birth}}</td>
                <td>{{this.email}}</td>
                <td><button onclick="deleteStudent({{this.student_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_student.js"></script>

    <br><br>

    {{!-- Form to add a record to the table  --}}
    <form id="add-student-form-ajax" class="form-inline">
        <fieldset>
            <legend align="left"><strong>Add New Student:</strong></legend>
            <select name="input-school_id" id="input-school_id">
            <option value="">Select a School</option>
            {{#each schools}}
            <option value="{{this.school_id}}">{{this.school_name}}</option>
            {{/each}}
            </select>

            <label for="input-first_name">First Name: </label>
            <input type="text" name="input-first_name" id="input-first_name">

            <label for="input-last_name">Last Name: </label>
            <input type="text" name="input-last_name" id="input-last_name">

            <label for="input-date_of_birth">Date of Birth: </label>
            <input type="date" name="input-date_of_birth" id="input-date_of_birth">

            <label for="input-email">Email: </label>
            <input type="text" name="input-email" id="input-email">

            <input type="submit">
        </fieldset>
    </form>

    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/add_student.js"></script>

    <br><br>

    <form id="update-student-form-ajax" class="form-inline">
        <fieldset>
            <legend align="left"><strong>Update Student's Current School:</strong></legend>
            <label for="input-fullname">Full name: </label>
            <select name="input-fullname" id="mySelect">
                <option value="test">Select a Person</option>
                {{#each data}}
                <option value="{{this.student_id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>

            <label for="input-school_id">School: </label>
            <select name="input-school_id" id="input-school_id-update">
                <option>Select a School</option>
                {{#each schools}}
                <option value="{{this.school_id}}">{{this.school_name}}</option>
                {{/each}}
                <option value=''>REMOVE</option>
            </select>
            <input type="submit">
        </fieldset>
    </form>
</body>
<br><br>
<script src="./js/update_student.js"></script>